- name: Create Prometheus config
  copy:
    dest: /opt/prometheus.yml
    content: |
      global:
        scrape_interval: 15s

      scrape_configs:
        - job_name: 'web-server'
          static_configs:
            - targets: ['WEB_PRIVATE_IP:9100']

- name: Run Prometheus
  docker_container:
    name: prometheus
    image: prom/prometheus
    state: started
    restart_policy: always
    ports:
      - "9090:9090"
    volumes:
      - /opt/prometheus.yml:/etc/prometheus/prometheus.yml
