- name: Pull image from ECR
  shell: |
    docker pull 516267217090.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp-project-syedazam:latest

- name: Run web container
  docker_container:
    name: my-devops-project
    image: 516267217090.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp-project-syedazam:latest
    state: started
    restart_policy: always
    ports:
      - "80:80"

- name: Run Node Exporter
  docker_container:
    name: node_exporter
    image: prom/node-exporter
    state: started
    restart_policy: always
    ports:
      - "9100:9100"

- name: Run Grafana
  docker_container:
    name: grafana
    image: grafana/grafana
    state: started
    restart_policy: always
    ports:
      - "3000:3000"
