name: Build and Push to ECR

on:
  push:
    branches: ["main"]
    paths:
      - "docker/**"
      - ".github/workflows/ecr-build-push.yml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-southeast-1
      ECR_REPO: devops-bootcamp/final-project-syedazam

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::516267217090:role/github-actions-ecr-push
          aws-region: ap-southeast-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, push
        run: |
          set -eux
          REGISTRY="$(aws sts get-caller-identity --query Account --output text).dkr.ecr.${AWS_REGION}.amazonaws.com"
          IMAGE="$REGISTRY/$ECR_REPO"
          TAG="${GITHUB_SHA}"

          # example: if your Dockerfile is inside docker/
          docker build -t "$IMAGE:$TAG" -t "$IMAGE:latest" docker

          docker push "$IMAGE:$TAG"
          docker push "$IMAGE:latest"
